.social-footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.social-footer > a {
  margin: 1rem;
}

@media screen and (min-width: 992px) {
  .social-footer {
    display: none;
  }
}
